<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Classes ~ Mary Clare Greenlees</title>
    <head>
    <body style="background-color:peachpuff;">
    <center>
    <p>The classes I have taken organized by semester.</p>
    <p></p>
    <p style="font-size:160%;"><b>Spring 2020</b></p>
    <p>PHYS-BC3006: Quantum Physics</p>
    <p>PHYS-BC3086: Quantum Physics Lab</p>
    <p>ASTR-UN2002: Intro to Astrophysics II</p>
    <p>ENGI-E1006: Intro to Comp for Eng/App</p>
    <p>MATH-UN1202: Calculus IV</p>
    <p></p>
    <p style="font-size:160%;"><b>Fall 2019</b></p>
    <p>ASTR-UN2001: Intro to Astrophysics I</p>
    <p>ASTR-UN3106: The Science of Space Exploration</p>
    <p>ENGL-GU4636: Science Fiction</p>
    <p>MATH-UN2010: Linear Algebra</p>
    <p>PHYS-BC3001: Classical Waves - Lecture and Lab</p>
    <p></p>
    <p style="font-size:160%;"><b>Spring 2019</b></p>
    <p>ANTH-UN1009: Intro to Language and Culture</p>
    <p>ASTR-UN3646: Observational Astronomy</p>
    <p>DNCE-BC1136: Ballet I</p>
    <p>ENGL-BC1211: FY Writing: Legacy of the Mediterranean</p>
    <p>MATH-UN1201: Calculus III</p>
    <p>PHYS-BC2002: Electricity and Magnetism - Lecture and Lab</p>
    <p></p>
    <p style="font-size:160%;"><b>Fall 2018</b></p>
    <p>ASTR-UN2900: Frontiers of Astrophysics</p>
    <p>FYSB-BC1189: The Enchanted Imagination</p>
    <p>MATH-UN1102: Calculus II</p>
    <p>PHIL-UN1001: Introduction to Philosophy</p>
    <p>PHYS-BC2001: Mechanics - Lecture and Lab</p>
    <p></p>
    <p style="font-size:160%;"><b>Next Semester: Fall 2020</b></p>
    <p>ASTR-UN3101: Modern Stellar Astrophysics</p>
    <p>ASTR-UN3105: Extrasolar Planest and Astrobiology</p>
    <p>CLLT-UN3132: Classical Mythology</p>
    <p>EESC-GU4008: Intro to Atmospheric Science</p>
    <p>PHYS-UN3007: Electricity and Magnetism</p>
    <p>WMST-UN3125: Intro to Sexuality Studies</p>
    <p></p>
    <p>Return to <a href="/">Home</a>? or go on to <a href="/neptune">Neptune?</a></p>
    </center>
    </body>
</html>

