<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home ~ Mary Clare Greenlees</title>
    <head>
    <body style="background-color:powderblue;">
    <center>
    <p>Welcome to my Homepage!</p>
    <p></p>
    <img src="/static/images/mcg2204.png" alt="Mary Clare" align=center
    width=189 height=252>
    <p>My name is <b>Mary Clare Greenlees</b></p>
    <p></p>
    <p>Currently, I am a <b>sophomore</b> at Barnard, majoring in <b>Astrophysics</b>!</p>
    <p></p>
    <p>For information about what classes I have taken, you can find them 
    <a href="/classes">here</a>!</p>
    <p>To learn more about the research on Neptune's atmosphere I will be doing
    this summer, click <a href="/neptune">here</a>!</p>
    <p>And, for some extra astronomy in your life—check out NASA's 
    <a href="https://apod.nasa.gov/apod/astropix.html">Astronomy Picture of the
    Day</a>!</p>
    </center>
    </body>
</html>

