<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Classes ~ Mary Clare Greenlees</title>
    <head>
    <body style="background-color:mistyrose;">
    <center>
    <img src="/static/images/neptune.jpg" alt="A Lovely Planet!" width=640
    height=360>
    <p style="font-size:160%;"><b>My Summer Research! :)</b></p>
    <p>My primary research interests in Astrophysics center around planetary science,
    exoplanets, and the investigation of what information about one can 
    mean about the other. This naturally drew me to Dr. Statia Cook's research,
    which has centered around Neptune and various other large gas giants. A large
    number of exoplanets that have been discovered recently have been compared
    to the approixmate size and mass of Neptune, the 8th planet from our Sun.
    This summer, I will be conducting remote research from my home with the
    support of Dr. Cook. My projected centers around the atmosphere and clouds
    of Neptune. Using python, I will be extracting spectra taken from 
    OSIRIS (Ohio State Infra-Red Imager), which is on the Keck telescope, to 
    determine the properties of Neptune's clouds. From this, I hope to draw 
    conclusions about how clouds vary with altitude, which in turn tells us
    about atmospheric circulation on Neptune. </p>
    <p></p>
        <p>Return to <a href="/">Home</a>? or go on to <a href="/classes">Classes?</a></p>
    </center>
    </body>
</html>

